<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="org.cloudsky.cordovaplugins.deviceinfo" version="0.0.3">

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <name>DeviceInfo</name>
    <author>TJ Woon (tj@cloudsky.org)</author>
    <description>A Cordova plugin to retrieve app info such as version name, app name, etc.</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device,device info</keywords>

    <js-module src="www/deviceInfo.js" name="deviceInfo">
        <clobbers target="cloudSky.deviceInfo" />
    </js-module>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!-- check for write permissions -->
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CsDeviceInfo">
                <param name="android-package" value="org.cloudsky.cordovaPlugins.DeviceInfo"/>
            </feature>
        </config-file>
        <source-file src="android/DeviceInfo.java" target-dir="src/org/cloudsky/cordovaPlugins" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CsDeviceInfo">
                <param name="ios-package" value="CsDeviceInfo"/>
            </feature>
        </config-file>
        <header-file src="ios/CsDeviceInfo.h" />
        <source-file src="ios/CsDeviceInfo.m" />
    </platform>

</plugin>
